@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-drag: none;
}


.click-label {
    position: absolute;
    bottom:3rem;
    left: 3rem;
    color: white;
    font-size: 24px;
    transition: transform 0.2s;
}

.swing {
    animation: swing 0.2s forwards;
}

@keyframes swing {
    0% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(0deg);
    }
}